body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #333333 ;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

.calculator {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 6px #222;
    border: 1px solid black;
    padding: 1%;
    background-color: darkslategray;
}
#outputDisplay {
    height: 25%;
    display: block;
    background-color: darkgreen;
    text-align: right;
    padding: 1%;
    margin: 3%;
    border: black solid 4px;
    color: lightgreen;
}

#inputButtons {
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    padding: 2%;
}

.regButton {
    display: flex;
    background-color: #222222;
    color: #dddddd;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    font-size: 2vw;
    box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
    border: 1px solid black;
}

.regButton:hover {
    border: grey solid 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.1vw;
}

.operator {
    background-color: #333333;
    font-size: 1.5vw;
}

.operator:hover {
    font-size: 1.6vw;
}

.equality {
    background-color:  #0e6251 ;
    font-size: 2vw;
    grid-area: 5/3/6/5;
}

h1 {
    font-size: 2.5vw;
    overflow: hidden;
}
 h3 {
     float: left;
     font-size: 1.2vw;
 }

#screenBottom {
    height: 30%;
}

#screenTop {
    height: 70%;
}

#clear{
    font-size: 2vw;
    background-color: #620e49;
}

#delete {
    font-size: 1.5vw;
    background-color: #333333;
}