body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    height: 900px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
#outputDisplay {
    display: flex;
    background-color: grey;
    height: 30%;
    justify-content: center;
    align-items: center;
}

#screen {
    display: block;
    height: 95%;
    width: 98%;
    background-color: #222222;
    color: lightgreen;
    text-align: right;
    font-size: 30px;
    border: black solid 5px;
}

#inputButtons {
    background-color: grey;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.regButton {
    display: flex;
    background-color: #333333;
    color: #cccccc;
    border: black solid 3px;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.operator {
    background-color: darkslategray;
    font-size: 2em;
}

#equals {
    background-color: darkred;
}
h1 {
    font-size: 3em;
}
#screenBottom {
    height: 30%;
}
h2 {
    font-size: 2.5em;
}
#screenTop {
    height: 70%;
}
h3 {
    font-size: 1em;
    text-align: left;
}